* {
    box-sizing: border-box;
}

#main {
    padding: 80px;
    margin: 50px;
    background-color: rgb(22, 136, 165);
    border-radius: 50px;
    width: 50%;
    margin: 50px auto;
}

#display {
    border: 2px solid;
    margin: 20px auto;
    height: 100px;
    width: 70%;
    font-size: 70px;
    text-align: right;
    padding: 8px;
}

#button-panel {
    display: grid;
    gap: 1em;
    grid-template-areas: 
        "clear clear clear divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "zero decimal equals add";
}

.light-key, .dark-key {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    min-height: 70px;
    border-radius: 5px;
    font-size: 42px;;
}

.light-key {
    background-color: white;
    color: black;
}
#zero {
    grid-area: zero;
}
#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#decimal {
    grid-area: decimal;
}
#equals {
    grid-area: equals;
}

.dark-key {
    background-color: black;
    color: white;
}
#add {
    grid-area: add;
}
#subtract {
    grid-area: subtract;
}
#multiply {
    grid-area: multiply;
}
#divide {
    grid-area: divide;
}
#clear {
    grid-area: clear;
}